.navbar-jumbotron {
    border-bottom: none;
    margin-bottom: 0;
}

.jumbotron {
    padding-top: 10px;
    padding-bottom: 20px;
}

.jumbotron h1 {
    margin-top: 0px;
}

.jumbotron-underlined {
    border-bottom: solid 2px #ccc;
}

@media(max-width: 991px) {
    .jumbotron {
        text-align: center;
    }
}

.jumbotron .carousel, .jumbotron .carousel-inner {
    display: inline-block;
}

@media(min-width: 992px) {
    .jumbotron .carousel {
        float: right;
    }
}
 
.carousel-control {
    opacity: 0;
    background: #f0f0f0!important;
}

.carousel-control:hover {
    opacity: 0.65;
}

.carousel-control.right span {
    right: 30%;
}

#screenshots .carousel-indicators {
    bottom: -19px;
}

#screenshots img {
    width: 450px;
    max-height: 267px;
    background-color: transparent;
}

.glyphicon-small {
    font-size: 85%;
}

.nuget-install {
    background-color: #202020;
    border: 4px solid silver;
    border-radius: 3px;
    color: #E2E2E2;
    display: block;
    padding: 9.5px 15px;
}

.nuget-install a {
    text-decoration: none;
    color: #f0f0f0;
}

.feature {
    display: table;
}

.feature > * {
    display: table-cell;
}

.feature-icon {
    font-size: 20px;
    width: 1%;
    padding-right: 10px;
}

.feature-body h3 {
    font-size: 24px;
    margin-bottom: 5px;
}

.callout {
    margin: 20px 0;
    padding: 20px;
    border-left: 3px solid #eee;
}

.callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}

.callout p:last-child {
    margin-bottom: 0;
}

.callout-info {
    background-color: #f4f8fa;
    border-color: #5bc0de;
}

.callout-info h4 {
    color: #5bc0de;
}

.callout-warning {
    background-color: #fcf8f2;
    border-color: #f0ad4e;
}

.callout-warning h4 {
    color: #f0ad4e;
}

.features-sidenav {
    margin-top: 40px;
    margin-bottom: 20px;
}

.features-sidenav.affix {
    margin-top: 10px;
}

.main-twitter-button {
    vertical-align: bottom;
    display: inline-block;
}

.quickstart h3 {
    font-size: 20px;
    color: #999;
    margin-top: 15px;
    font-weight: lighter;
}

.quickstart .lead-digit {
    font-weight: bold;
}

pre {
    border-color: #eee;
    border: none;
    overflow: auto;
    word-wrap: normal;
    white-space: pre;
}

.quickstart hr {
    margin: 10px 0;
}

pre .type {
    color: #2B91AF;
}

pre .string {
    color: #A01714;
}

pre .keywd {
    color: #182AFC;
}

pre .comm {
    color: #319B44;
}

[id^=___plusone] { width:62px !important; }

.fb-share-button {
    vertical-align: top;
    margin-right: 5px;
    margin-bottom: 5px;
}

.lb-outerContainer {
    background: transparent;
}

.reddit_button {
    vertical-align: super;
}

a.anchor { 
    display: block; 
    position: relative; 
    top: -50px; 
    visibility: hidden;
}

.features-sidebar.affix {
    position: fixed;
    top: 10px;
}

.features-sidebar.affix-bottom {
    position: absolute;
}

.features-sidebar {
    width: 263px;
}

.nav-sidebar>li>a {
    padding: 5px 20px;
}

.nav-sidebar>li.active>a {
    background-color: #428bca;
    color: #fff;
}

.first-header {
    margin-top: 0;
}

.plan {
    text-align: center;
    background-color: #fff;
    padding-bottom: 30px;
}

.plan .plan-title {
    background-color: #999;
    color: #fff;
    padding: 12px 16px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.plan .plan-body {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border: solid 1px #ccc;
    border-top: none;
    padding: 20px;
}

.plan .plan-title h2 {
    margin: 0;
    font-weight: lighter;
}

.plan .plan-items {
    text-align: left;
    padding-left: 30px;
}

.plan .plan-items > * {
    margin-bottom: 10px;
}

.plan .plan-item-spacer {
    visibility: hidden;
}

.plan .plan-price {
    margin: 20px 0;
    border-top: solid 1px #ddd;
}

.plan .plan-price h3 {
    font-size: 40px;
    vertical-align: top;
    line-height: 1;
    font-weight: lighter;
    text-transform: uppercase;
}

.plan .plan-price h3 span {
    font-size: 20px;
    vertical-align: top;
    position: relative;
    margin: 6px 0 0 -7px;
    display: inline-block;
}

.plan .plan-price h4 {
    color: #666;
    font-size: 14px;
    font-weight: lighter;
    text-transform: lowercase;
}

.plan .btn {
    padding: 10px 40px;
    text-transform: uppercase;
    font-weight: lighter;
}

.product {
    display: block;
    border: solid 1px #ccc;
    padding: 20px 30px;
    height: 170px;
}

.product:hover {
    background-color: #f0f0f0;
    text-decoration: none;
}

.product .product-heading {
    font-size: 32px;
}

.product .product-body {
    color: #777;
}

.screenshots img {
    width: 100%;
}

.page-header {
    margin-top: 0;
}

.tabs-below > .nav-tabs,
.tabs-right > .nav-tabs,
.tabs-left > .nav-tabs {
  border-bottom: 0;
}

.tab-content > .tab-pane,
.pill-content > .pill-pane {
  display: none;
}

.tab-content > .active,
.pill-content > .active {
  display: block;
}

.tabs-below > .nav-tabs {
  border-top: 1px solid #ddd;
}

.tabs-below > .nav-tabs > li {
  margin-top: -1px;
  margin-bottom: 0;
}

.tabs-below > .nav-tabs > li > a {
  -webkit-border-radius: 0 0 4px 4px;
     -moz-border-radius: 0 0 4px 4px;
          border-radius: 0 0 4px 4px;
}

.tabs-below > .nav-tabs > li > a:hover,
.tabs-below > .nav-tabs > li > a:focus {
  border-top-color: #ddd;
  border-bottom-color: transparent;
}

.tabs-below > .nav-tabs > .active > a,
.tabs-below > .nav-tabs > .active > a:hover,
.tabs-below > .nav-tabs > .active > a:focus {
  border-color: transparent #ddd #ddd #ddd;
}

.tabs-left > .nav-tabs > li,
.tabs-right > .nav-tabs > li {
  float: none;
}

.tabs-left > .nav-tabs > li > a,
.tabs-right > .nav-tabs > li > a {
  min-width: 74px;
  margin-right: 0;
  margin-bottom: 3px;
}

.tabs-left > .nav-tabs {
  float: left;
  margin-right: 19px;
  border-right: 1px solid #ddd;
}

.tabs-left > .nav-tabs > li > a {
  margin-right: -1px;
  -webkit-border-radius: 4px 0 0 4px;
     -moz-border-radius: 4px 0 0 4px;
          border-radius: 4px 0 0 4px;
}

.tabs-left > .nav-tabs > li > a:hover,
.tabs-left > .nav-tabs > li > a:focus {
  border-color: #eeeeee #dddddd #eeeeee #eeeeee;
}

.tabs-left > .nav-tabs .active > a,
.tabs-left > .nav-tabs .active > a:hover,
.tabs-left > .nav-tabs .active > a:focus {
  border-color: #ddd transparent #ddd #ddd;
  *border-right-color: #ffffff;
}

.tabs-right > .nav-tabs {
  float: right;
  margin-left: 19px;
  border-left: 1px solid #ddd;
}

.tabs-right > .nav-tabs > li > a {
  margin-left: -1px;
  -webkit-border-radius: 0 4px 4px 0;
     -moz-border-radius: 0 4px 4px 0;
          border-radius: 0 4px 4px 0;
}

.tabs-right > .nav-tabs > li > a:hover,
.tabs-right > .nav-tabs > li > a:focus {
  border-color: #eeeeee #eeeeee #eeeeee #dddddd;
}

.tabs-right > .nav-tabs .active > a,
.tabs-right > .nav-tabs .active > a:hover,
.tabs-right > .nav-tabs .active > a:focus {
  border-color: #ddd #ddd #ddd transparent;
  *border-left-color: #ffffff;
}

.nav-compact>li>a {
    padding-top: 5px;
    padding-bottom: 5px;    
}
