<ul class="nav navbar-nav navbar-right">
  <li {% if page.active == 'overview' %}class="active"{% endif %}>
    <a href="/overview.html">Overview</a>
  </li>
  <li {% if page.active == 'pricing' %}class="active"{% endif %}>
    <a href="/pricing/">Pricing</a>
  </li>
  <li>
    <a href="http://docs.hangfire.io/">Documentation</a>
  </li>
  <li>
    <a href="http://discuss.hangfire.io">Forum</a>
  </li>
  <li {% if page.active == 'blog' %}class="active"{% endif %}>
    <a href="/blog/">Blog</a>
  </li>
  <li>
    <a href="https://github.com/HangfireIO"><i class="fa fa-github"></i> Source Code</a>
  </li>
</ul>