{% if page.content.size > 2000 %}
<div id="mc_embed_signup" style="padding: 20px; background-color: whitesmoke; margin: 0 -20px;">
	<form action="//hangfire.us9.list-manage.com/subscribe/post?u=d2f4abd4cd4d3b1db1b06dc02&amp;id=5a8dbbc33b" method="post" name="mc-embedded-subscribe-form" class="validate" target="_blank" style="padding:0;" novalidate>
		<h2 style="font-size: 30px;font-weight:normal;margin-top:0;">Subscribe to monthly updates</h2>

		<p>
			Subscribe to receive monthly blog updates. Very low traffic, you are able to unsubscribe at any time.
		</p>

		<div class="input-group">
    		<input type="email" value="" name="EMAIL" class="form-control" id="mce-EMAIL" placeholder="me@example.com">
    		<span class="input-group-btn">
	    		<input type="submit" value="Subscribe" name="subscribe" class="btn btn-default">
	    	</span>
  		</div>
  		
		<!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
	    <div style="position: absolute; left: -5000px;">
			<input type="text" name="b_d2f4abd4cd4d3b1db1b06dc02_5a8dbbc33b" tabindex="-1" value="">
		</div>
	</form>
</div>
{% endif %}