<div class="bs-sidenav hidden-print">
	<!-- Begin MailChimp Signup Form -->
	<h4>Subscribe to newsletter</h4>
	<div>
		<form action="//hangfire.us9.list-manage.com/subscribe/post?u=d2f4abd4cd4d3b1db1b06dc02&amp;id=5a8dbbc33b" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate style="padding:0;">
			<label for="mce-EMAIL">Email Address</label>
			<div class="input-group">
	      		<input type="email" value="" name="EMAIL" class="required email form-control" id="mce-EMAIL">
	      		<span class="input-group-btn">
	        		<input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-default">
	      		</span>
	    	</div>
		</form>
	</div>
</div>