<div class="panel panel-default">
    <div class="panel-body" style="text-align: center;padding: 25px;">
        <div style="font-size: 30px;margin-bottom: 15px;">
            14 990 р. в год
        </div>

        <form action="https://rbkmoney.ru/acceptpurchase.aspx" name="pay" method="POST">
            <input type="hidden" name="eshopId" value="2029823">
            <input type="hidden" name="serviceName" value="Hangfire Pro">
            <input type="hidden" name="recipientAmount" value="499.00">
            <input type="hidden" name="recipientCurrency" value="USD">
            <input type="hidden" name="successUrl" value="http://hangfire.io/pro/success.html">
            <input type="hidden" name="failUrl" value="http://hangfire.io/pro/fail.html">
            <input type="hidden" name="language" value="en">

            <input style="display: block;width: 100%;" class="btn btn-success" type="submit" value="Купить">
        </form>
        
        <p class="pull-right" style="margin-top:16px;margin-bottom:0;"><a href="/pro/license.html">Лицензия</a></p>

        <div style="margin-top: 15px;text-align: left;">
            <span style="color: #999;">Принимаем:</span>
            
            <img src="/img/master.png" alt="" height="17">
            <img src="/img/visa.png" alt="" height="17">    
        </div>
    </div>
</div>