<h2>Часто задаваемые вопросы</h2>

<h3>
<a class="anchor" href="#what-is-hangfire-pro" aria-hidden="true"><span class="octicon octicon-link"></span></a>Что такое Hangfire Pro?</h3>

<p>
    Hangfire Pro – это расширение, которое добавляет несколько полезных возможностей для Hangfire. Hangfire является проектом с открытым исходным кодом и бесплатен в использовании, однако его поддержка занимает у меня много времени. Hangfire Pro – это способ купить действительно полезные возможности, и в то же время страховка, что проект Hangfire будет развиваться и поддерживаться годами.
</p>

<h3>
<a name="user-content-is-there-a-trial-version" class="anchor" href="#is-there-a-trial-version" aria-hidden="true"><span class="octicon octicon-link"></span></a>Существует ли пробная версия?</h3>

<p>
    Бесплатной пробной версии нет, но я предлагаю 14-дневный испытательный период с полным возвратом денег, если версия Pro не будет вас устраивать.
</p>

<h3>
<a name="user-content-can-i-get-a-discount--do-you-ever-put-pro-on-sale" class="anchor" href="#can-i-get-a-discount--do-you-ever-put-pro-on-sale" aria-hidden="true"><span class="octicon octicon-link"></span></a>Могу ли я получить скидку?</h3>

<p>
    Я уверен, что у вас есть на то причины, но я предпочитаю оставлять вещи простыми и справедливыми: каждый платит одну ту же цену. Нет скидок, нет других способов сегментации рынка.
</p>

<h3>
<a name="user-content-what-happens-if-my-subscription-lapses" class="anchor" href="#what-happens-if-my-subscription-lapses" aria-hidden="true"><span class="octicon octicon-link"></span></a>Что произойдет, если моя подписка закончится?</h3>

<p>
    Вы потеряете доступ к серверу NuGet и приоритетной поддержке. У вас не будет возможности получать обновления и исправления, и команда <code>Update-Package</code> больше не будет работать. Однако вы сохраняете право использовать ту версию, что у вас есть.
</p>

<h3>
<a name="user-content-can-you-transfer-a-license" class="anchor" href="#can-you-transfer-a-license" aria-hidden="true"><span class="octicon octicon-link"></span></a>Могу ли я передать лицензию третьим лицам?</h3>

<p>Лицензии <strong>не разрешается</strong> передавать другим компаниям. Я могу перенести лицензию от пользовательского адреса электронной почты к групповому адресу (например, john_smith@example.com &rarr; tech@example.com), но только в пределах <strong>того же доменного имени</strong>. Настоятельно рекомендуется покупать лицензию, используя групповой адрес электронной почты, таким образом лицензия не будет привязана к адресу электронной почты конкретного работника.</p>

<h3>
<a name="user-content-how-many-licenses-do-i-need-to-buy" class="anchor" href="#how-many-licenses-do-i-need-to-buy" aria-hidden="true"><span class="octicon octicon-link"></span></a>Сколько лицензий мне нужно купить?</h3>

<p>Каждая организация, которая использует Hangfire Pro в своих собственных интересах, должна приобрести лицензию.</p>

<h3>
<a name="user-content-what-is-the-buying-process" class="anchor" href="#what-is-the-buying-process" aria-hidden="true"><span class="octicon octicon-link"></span></a>Как происходит процесс покупки?</h3>

<p>Нажмите кнопку <em>Купить</em> и заполните необходимую информацию. Ваша лицензия будет связана с адресом электронной почты, который вы укажете. Система сгенерирует URL NuGet сервера и отправит его вам в течение 24 часов.</p>

<p>Вы получите подтверждение по электронной почте после покупки, которое может использоваться в качестве чека/квитанции.</p>

<h3>
<a name="user-content-what-if-i-find-a-bug" class="anchor" href="#what-if-i-find-a-bug" aria-hidden="true"><span class="octicon octicon-link"></span></a>Что делать, если я найду ошибку?</h3>

<p>Как обычно, просто создайте новый <a href="https://github.com/HangfireIO/Hangfire/issues">GitHub Issue</a> для Hangfire.</p>

<h3>
<a name="user-content-can-i-get-a-refund" class="anchor" href="#can-i-get-a-refund" aria-hidden="true"><span class="octicon octicon-link"></span></a>Могу ли я вернуть деньги?</h3>

<p>Да, в течение двух недель после покупки. Позвольте мне узнать причину и, возможно, я смогу помочь. Но в любом случае это не проблема. E-mail <a href="mailto:support@hangfire.io"> support@hangfire.io</a>.</p>