<h2>Сравнение возможностей</h2>

<table class="table">
    <colgroup>
        <col>
        <col>
        <col style="background-color: #f5f5f5;">
    </colgroup>
    <thead>
        <tr>
            <th></th>
            <th>Hangfire</th>
            <th>Hangfire Pro</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>Фоновые задачи</th>
            <td><i class="glyphicon glyphicon-ok"></i></td>
            <td><i class="glyphicon glyphicon-ok"></i></td>
        </tr>
        <tr>
            <th>Отложенные задачи</th>
            <td><i class="glyphicon glyphicon-ok"></i></td>
            <td><i class="glyphicon glyphicon-ok"></i></td>
        </tr>
        <tr>
            <th>Задачи по расписанию</th>
            <td><i class="glyphicon glyphicon-ok"></i></td>
            <td><i class="glyphicon glyphicon-ok"></i></td>
        </tr>
        <tr>
            <th>Встроенный веб-интерфейс</th>
            <td><i class="glyphicon glyphicon-ok"></i></td>
            <td><i class="glyphicon glyphicon-ok"></i></td>
        </tr>
        <tr>
            <th>Автоматическая обработка ошибок и повтор</th>
            <td><i class="glyphicon glyphicon-ok"></i></td>
            <td><i class="glyphicon glyphicon-ok"></i></td>
        </tr>
        <tr>
            <th>Минимальные задержки и максимальное быстродействие</th>
            <td></td>
            <td><i class="glyphicon glyphicon-ok"></i></td>
        </tr>
        <tr>
            <th>Пакетная обработка и продолжения</th>
            <td></td>
            <td><i class="glyphicon glyphicon-ok"></i></td>
        </tr>
        <tr>
            <th>Поддержка асинхронных методов</th>
            <td></td>
            <td><i class="glyphicon glyphicon-ok"></i></td>
        </tr>
        <tr>
            <th>Проактивный мониторинг</th>
            <td></td>
            <td><i class="glyphicon glyphicon-ok"></i></td>
        </tr>
        <tr>
            <th>Приоритетная техническая поддержка</th>
            <td></td>
            <td><i class="glyphicon glyphicon-ok"></i></td>
        </tr>
        <tr>
            <th>Лицензия</th>
            <td>LGPL v3</td>
            <td>Коммерческая</td>
        </tr>
    </tbody>
</table>
