<h2>Feature comparison</h2>

<table class="table">
    <colgroup>
        <col>
        <col>
        <col style="background-color: #f5f5f5;">
    </colgroup>
    <thead>
        <tr>
            <th>Feature</th>
            <th>Hangfire</th>
            <th>Hangfire Pro</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>Fire-and-forget jobs</th>
            <td><i class="glyphicon glyphicon-ok"></i></td>
            <td><i class="glyphicon glyphicon-ok"></i></td>
        </tr>
        <tr>
            <th>Delayed jobs</th>
            <td><i class="glyphicon glyphicon-ok"></i></td>
            <td><i class="glyphicon glyphicon-ok"></i></td>
        </tr>
        <tr>
            <th>Recurring jobs</th>
            <td><i class="glyphicon glyphicon-ok"></i></td>
            <td><i class="glyphicon glyphicon-ok"></i></td>
        </tr>
        <tr>
            <th>Management UI</th>
            <td><i class="glyphicon glyphicon-ok"></i></td>
            <td><i class="glyphicon glyphicon-ok"></i></td>
        </tr>
        <tr>
            <th>Automatic error handling &amp; retries</th>
            <td><i class="glyphicon glyphicon-ok"></i></td>
            <td><i class="glyphicon glyphicon-ok"></i></td>
        </tr>
        <tr>
            <th>Low latency &amp; high throughput processing</th>
            <td></td>
            <td><i class="glyphicon glyphicon-ok"></i></td>
        </tr>
        <tr>
            <th>Batch jobs &amp; continuations</th>
            <td></td>
            <td><i class="glyphicon glyphicon-ok"></i></td>
        </tr>
        <tr>
            <th>Async methods support</th>
            <td></td>
            <td><i class="glyphicon glyphicon-ok"></i></td>
        </tr>
        <tr>
            <th>Proactive monitoring</th>
            <td></td>
            <td><i class="glyphicon glyphicon-ok"></i></td>
        </tr>
        <tr>
            <th>Priority support</th>
            <td></td>
            <td><i class="glyphicon glyphicon-ok"></i></td>
        </tr>
        <tr>
            <th>License</th>
            <td>LGPL v3</td>
            <td>Commercial</td>
        </tr>
    </tbody>
</table>
