---
layout: blog
title: Security Announcements — Hangfire
subtitle: Security Announcements
active: blog
rss_name: security rss
rss_url: /atom-security.xml
---

<article>
<div class="alert alert-warning">
    <h4>Reporting</h4>
    <p>In order to give the community time to respond and upgrade we strongly urge you report
    all security issues privately. Please email us at <a href="mailto:security@hangfire.io">security@hangfire.io</a> 
    with details and we will respond ASAP. Security issues always take precedence over bug 
    fixes and feature work.</p>
</div>

<div class="alert" style="background-color:whitesmoke;">
    <h4>Security Newsletter</h4>
    <div>
        <p>Subscribe to receive security announcements by email as soon as possible. Very low traffic, unsubscribe at any time.</p>
        <form class="js-cm-form" id="subForm" action="https://www.createsend.com/t/subscribeerror?description=" method="post" data-id="191722FC90141D02184CB1B62AB3DC26708D31F236DF138B3A83ABD3DD1748EE348829FF46B0A7A88400F95762C5BD182AD81380EB0D757D1E84DDD2C7E5721B" style="padding:0;margin-bottom:10px;">
            <div class="input-group">
                <input placeholder="me@example.com" autocomplete="Email" aria-label="Email" class="js-cm-email-input qa-input-email form-control" id="fieldEmail" maxlength="200" name="cm-jidyzl-jidyzl" required="" type="email">
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-default">Subscribe</button>
                </span>
            </div>
            <div>
                <input aria-required="" id="cm-privacy-consent" name="cm-privacy-consent" required="" type="checkbox">
                <label for="cm-privacy-consent" style="font-weight: normal;">I agree to be emailed</label>
            </div>
            <input id="cm-privacy-consent-hidden" name="cm-privacy-consent-hidden" type="hidden" value="true">
            <!-- Disable email tracking by default -->
		    <input type="hidden" id="cm-privacy-email" name="cm-privacy-email" type="checkbox">
        </form>
        <script type="text/javascript" src="https://js.createsend1.com/javascript/copypastesubscribeformlogic.js"></script>
    </div>
</div>
</article>

{% for post in site.categories.security %}
	{% include blog/post_item.html %}
{% endfor %}
