<a id="cancellation-tokens" class="anchor"></a>
<h3>Cancellation tokens</h3>

<p>
    Hangfire can tell your methods were aborted or canceled due to shutdown event, so you can stop them gracefully using job cancellation tokens that are similar to the regular CancellationToken class.
</p>

{% highlight csharp %}
public void Method(IJobCancellationToken token)
{
    for (var i = 0; i < Int32.MaxValue; i++)
    {
        token.ThrowIfCancellationRequested();
        Thread.Sleep(1000);
    }
}
{% endhighlight %}

<a id="ioc-containers" class="anchor"></a>
<h3>IoC Containers</h3>

<p>
    In case you want to improve the testability of your job classes or simply don’t want to use a huge amount of different factories, you should use instance methods instead of static ones. But you either need to somehow pass the dependencies into these methods and the default job activator does not support parameterful constructors.
</p>

<p>
    Don’t worry, you can use your favourite IoC container that will instantiate your classes. There are two packages, Hangfire.Ninject and Hangfire.Autofac for their respective containers. If you are using another container, please, write it yourself (on a basis of the given packages) and contribute to Hangfire project.
</p>

<a id="logging" class="anchor"></a>
<h3>Logging</h3>

<p>
    Hangfire uses the Common.Logging library to log all its events. It is a generic library and you can plug it to your logging framework using adapters. Please, see the list of available adapters on NuGet Gallery.
</p>

<a id="web-garden-web-farm-support" class="anchor"></a>
<h3>Web Garden and Web Farm friendly</h3>

<p>
    You can run multiple Hangfire instances, either on the same or different machines. It uses distributed locking to prevent race conditions. Each Hangfire instance is redundant, and you can add or remove instances seamlessly (but control the queues they listen).
</p>

<a id="multiple-queue-processing" class="anchor"></a>
<h3>Multiple queues processing</h3>

<p>
    Hangfire can process multiple queues. If you want to prioritize your jobs or split the processing across your servers (some processes the archive queue, others – the images queue, etc), you can tell Hangfire about your decisions.
</p>

<p>
    To place a job into a different queue, use the QueueAttribute class on your method:
</p>

{% highlight csharp %}
[Queue("critical")]
public void SomeMethod() { }

BackgroundJob.Enqueue(() => SomeMethod());
{% endhighlight %}

<p>
    To start to process multiple queues, you need to update your OWIN bootstrapper’s configuration action:
</p>

{% highlight csharp %}
app.UseHangfire(config =>
{
    config.UseServer("critical", "default");
});
{% endhighlight %}

<p>
    The order is important, workers will fetch jobs from the critical queue first, and then from the default queue.
</p>

<a id="concurrency-level-control" class="anchor"></a>
<h3>Concurrency level control</h3>

<p>
    Hangfire uses its own fixed worker thread pool to consume queued jobs. Default worker count is set to Environment.ProcessorCount * 5. This number is optimized both for CPU-intensive and I/O intensive tasks. If you experience excessive waits or context switches, you can configure amount of workers manually:
</p>

{% highlight csharp %}
app.UseHangfire(config =>
{
    config.UseServer(100);
});

// or
var server = new BackgroundJobServer(100);
{% endhighlight %}

<a id="process-jobs-anywhere" class="anchor"></a>
<h3>Process jobs anywhere</h3>

<p>
    By default, the job processing is made within an ASP.NET application. But you can process jobs either in the console application, Windows Service or anywhere else.
</p>

<a id="extensibility" class="anchor"></a>
<h3>Extensibility</h3>

<p>
    Hangfire is build to be as generic as possible. You can extend the following parts:
</p>

<ul>
    <li>storage implementation;</li>
    <li>states subsystem (including the creation of new states);</li>
    <li>job creation process;</li>
    <li>job performance process;</li>
    <li>state changing process;</li>
    <li>job activation process.</li>
</ul>

<p>
    Some of core components are made as extensions: QueueAttribute, PreserveCultureAttribute, AutomaticRetryAttribute, SqlServerStorage, RedisStorage, NinjectJobActivator, AutofacJobActivator, ScheduledState.
</p>