<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% if page.keywords %}
        <meta name="keywords" content="{{ page.keywords }}">
        {% endif %}
        {% if page.description %}
        <meta name="description" content="{{ page.description }}">
        {% endif %}
        <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon"> 
        <meta name="twitter:site" content="@hangfireio">
        <meta name="twitter:card" content="summary">
        <meta name="twitter:title" content="Hangfire – Background Jobs for .NET and .NET Core">
        <meta name="twitter:description" content="An easy way to perform fire-and-forget, delayed and recurring tasks in ASP.NET applications. No Windows Service required, backed by persistent storage.">
        <meta name="twitter:image:src" content="{{ site.url }}/img/twitter-crd.png">
        <meta property="og:url" content="https://www.hangfire.io" />
        
        <!--link href="{{ site.url }}{{ page.url }}" rel="canonical"-->

        <link href="{{ site.cdn }}/css/bootstrap.min.css" rel="stylesheet">
        <link href="{{ site.cdn }}/css/font-awesome.min.css" rel="stylesheet">
        <link href="{{ site.cdn }}/css/lightbox.css" rel="stylesheet">
        <link href="{{ site.cdn }}/css/highlight.css" rel="stylesheet">
        <link href="{{ site.cdn }}/css/hangfire.css" rel="stylesheet">
        <link href="{{ site.cdn }}/css/styles.css" rel="stylesheet">

        <link rel="alternate" type="application/rss+xml" title="RSS" href="https://feeds.feedburner.com/hangfireio">

        <script async defer data-domain="hangfire.io" src="https://plausible.io/js/plausible.js"></script>

        <style id="acj">body{display:none !important;}</style>
        <script type="text/javascript">if (self === top) {document.getElementById("acj").parentNode.removeChild(acj);} else {top.location = self.location;}</script>
    </head>
    <body>
      <div style="padding: 8px;color: white;background-color: #8a0303;">
        <div class="container" style="font-size: 16px;text-align: center;">We are <a href="https://www.hangfire.io/blog/2022/04/04/hangfire-oü.html" style="color: white; text-decoration: underline;">leaving Russia</a>. We are against aggression and war with Ukraine. It is a tragedy for our nations, it is a nightmare</div>
      </div>
        <nav class="navbar navbar-hangfire {% if page.jumbotron != null %}navbar-jumbotron{% endif %}" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              {% if page.jumbotron == null %}
              <a class="navbar-brand" href="/">
                {{ site.title }}
              </a>
              {% endif %}
            </div>
            <div class="collapse navbar-collapse">
              {% include nav.html %}
            </div>
          </div>
        </nav>

        {{ content }}        
        
        {% include footer.html %}

        <script src="{{ site.cdn }}/js/jquery.min.js"></script>
        <script src="{{ site.cdn }}/js/bootstrap.min.js"></script>
        <script src="{{ site.cdn }}/js/imagelightbox.min.js"></script>
        <script src="{{ site.cdn }}/js/anchor.min.js"></script>
        <script src="{{ site.cdn }}/js/hangfire.js"></script>
    </body>
</html>
