---
layout: default
display_brand: true
active: products
---

<div class="jumbotron jumbotron-small underlined">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="pull-left">Hangfire Extensions</h1>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="well">
                <ul class="nav nav-pills nav-stacked">
                    <li {% if page.sub_active == 'official' %}class="active"{% endif %}><a href="/extensions/">Official</a></li>
                    <li {% if page.sub_active == 'third-party' %}class="active"{% endif %}><a href="/extensions/third-party.html">Third-Party</a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-9">
            {{ content }}
        </div>
    </div>
</div>