---
layout: page
---
        
<div class="row">
    <div class="col-md-3">
        <ul class="features-sidenav" data-spy="affix" data-offset-top="40" data-offset-bottom="200">
            <li><a href="/features/">Queue-based processing</a></li>
            <li><a href="/features/instance-methods.html">Instance methods</a></li>
            <li><a href="/features/delayed-jobs.html">Delayed jobs</a></li>
            <li><a href="/features/dedicated-thread-pool.html">Dedicated thread pool</a></li>
            <li><a href="/features/multiple-servers.html">Multiple servers</a></li>
            <li><a href="/features/host-agnostic-server.html">Host-agnostic server</a></li>
            <li><a href="/features/retry-logic.html">Retry logic</a></li>
            <li><a href="/features/culture-capturing.html">Culture capturing</a></li>
        </ul>
    </div>
    <div class="col-md-9">
        <h1 class="page-header">{{ page.title }}</h1>
        {{ content }}

        <ul class="pager">
            {% if page.prev_slug %}
            <li class="previous"><a href="/features/{{ page.prev_slug }}.html">&larr; {{ page.prev_text }}</a></li>
            {% endif %}
            {% if page.next_slug %}
            <li class="next"><a href="/features/{{ page.next_slug }}.html">{{ page.next_text }} &rarr;</a></li>
            {% endif %}
        </ul>

        <hr>

        <div id="disqus_thread"></div>
        <script type="text/javascript">
            /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
            var disqus_shortname = 'hangfire'; // required: replace example with your forum shortname

            /* * * DON'T EDIT BELOW THIS LINE * * */
            (function() {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
    </div>
</div>