---
layout: default
active: blog
---

<div class="container">
	<div class="row">
		<div class="col-md-8">
			<ol class="breadcrumb">
				<li><a href="/">Home</a></li>
  				<li><a href="/blog/">Blog</a></li>
  				<li class="active">{{ page.title }}</li>
			</ol>

			<hgroup class="page-header">
				<h2>{{ page.title }}</h2>
				{% include blog/subtitle.html %}
			</hgroup>
			

			<article itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">
  				{{ content }}
			</article>
			
            <div style="margin: 20px 0;" class="addthis_sharing_toolbox"></div>

			{% include blog/newsletter.html %}

			{% if site.disqus_short_name and page.comments == true %}
			<section id="comment">
    			<h2 class="title">Comments</h2>
    			<div id="disqus_thread" aria-live="polite">{% include blog/disqus_thread.html %}</div>
			</section>
			{% endif %}
		</div>
		<div class="col-md-4">
			{% include blog/sidebar.html %}
		</div>
	</div>
</div>

{% include disqus.html %}
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-560d5ca2d7659418" async="async"></script>