---
layout: default
active: blog
---

<div class="container">
	<div class="row">
		<div class="col-md-8">
			<ol class="breadcrumb">
				<li><a href="/">Home</a></li>
  				<li><a href="/blog/">Blog</a></li>
  				<li class="active">{{ page.title }}</li>
			</ol>

			<hgroup class="page-header">
				<h2>{{ page.title }}</h2>
				{% include blog/subtitle.html %}
			</hgroup>
			

			<article itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">
  				{{ content }}
			</article>

			{% if page.origin %}
			<a class="btn btn-sm btn-primary" href="{{ page.origin }}" target="_blank">
				Continue Reading on @{{ page.author }}'s Blog
				<i class="fa fa-external-link" aria-hidden="true"></i>
			</a>
			{% endif %}

			{% include blog/newsletter.html %}

			{% if site.hyvor_website and page.comments == true %}
			<section id="comment">
    			<h2 class="title">Comments</h2>
    			<div id="hyvor-talk-view" aria-live="polite">{% include blog/hyvor_thread.html %}</div>
			</section>
			{% endif %}
		</div>
		<div class="col-md-4">
			{% include blog/sidebar.html %}
		</div>
	</div>
</div>

{% include hyvor.html %}
