---
layout: default
active: products
---


<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="bs-sidenav">
                <h4>Hangfire</h4>
                <ul class="nav">
                    <li {% if page.sub_active == 'overview' %}class="active"{% endif %}><a href="/overview.html">Overview</a></li>
                    <li {% if page.sub_active == 'features' %}class="active"{% endif %}><a href="/features.html">Features</a></li>
                    <li {% if page.sub_active == 'licensing' %}class="active"{% endif %}><a href="/licensing.html">Licensing</a></li>
                    <li {% if page.sub_active == 'downloads' %}class="active"{% endif %}><a href="/downloads.html">Downloads</a></li>
                </ul>
                <h4>Hangfire Pro</h4>
                <ul class="nav nav-list">
                    <li {% if page.sub_active == 'pro-overview' %}class="active"{% endif %}><a href="/pro/">Overview</a></li>
                    <li {% if page.sub_active == 'pro-license' %}class="active"{% endif %}><a href="/pro/license.html">License</a></li>
                </ul>
                <h4>Extensions</h4>
                <ul class="nav nav-list">
                    <li {% if page.sub_active == 'ext-official' %}class="active"{% endif %}><a href="/extensions/">Official</a></li>
                    <li {% if page.sub_active == 'ext-3rdparty' %}class="active"{% endif %}><a href="/extensions/third-party.html">Third-Party</a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-9">
            <h1 class="page-header">
                {{ page.title }}
            </h1>

            {{ content }}

            <div class="alert alert-info" style="margin-top: 20px;margin-bottom:0;">
            Did you know that you can <a href="{{site.github_repo_root}}/edit/master/{{ page.path }}" target="_blank">edit this page on GitHub</a> and send a Pull Request?
        </div>
        </div>
    </div>
</div>