---
layout: default
active: overview
---

<div class="container">
    <div class="row">
        <div class="col-lg-3 col-md-4" role="complementary">
            <div class="bs-sidenav hidden-print">
                <h4>Hangfire</h4>
                <ul class="nav">
                    <li {% if page.sub_active == 'overview' %}class="active"{% endif %}><a href="/overview.html">Overview</a></li>
                    <li {% if page.sub_active == 'features' %}class="active"{% endif %}><a href="/features.html">Features</a></li>
                    <li {% if page.sub_active == 'licensing' %}class="active"{% endif %}><a href="/licensing.html">Licensing</a></li>
                    <li {% if page.sub_active == 'downloads' %}class="active"{% endif %}><a href="/downloads.html">Downloads</a></li>
                    <li {% if page.sub_active == 'extensions' %}class="active"{% endif %}><a href="/extensions.html">Extensions</a></li>
                </ul>
                <h4>Hangfire Pro</h4>
                <ul class="nav nav-list">
                    <li {% if page.sub_active == 'pro-overview' %}class="active"{% endif %}><a href="/pro/">Overview</a></li>
                    <li {% if page.sub_active == 'pro-downloads' %}class="active"{% endif %}><a href="/pro/downloads.html">Downloads</a></li>
                    <li {% if page.sub_active == 'pro-license' %}class="active"{% endif %}><a href="/pro/license.html">Licensing</a></li>
                </ul>
            </div>
        </div>
        <div class="col-lg-9 col-md-8" role="main">
            <article>
                {{ content }}

                <div class="alert alert-info hidden-print" style="margin-top: 20px;margin-bottom:0;">
                    Did you know that you can <a href="{{ site.github_repo }}/edit/{{ site.github_branch }}/{{ page.path }}" target="_blank">edit this page on GitHub</a> and send a Pull Request?
                </div>
            </article>
        </div>
    </div>
</div>