---
layout: default-ru
title: Функциональные возможности – Hangfire
display_brand: true
---

<div class="jumbotron jumbotron-small">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Возможности</h1>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="features-sidebar" data-spy="affix" data-offset-top="190" data-offset-bottom="80">
            <strong>Базовые</strong>
            <ul class="nav nav-sidebar">
                <li>
                    <a href="#queue-based-processing">Обработка на основе очередей</a>
                </li>
                <li>
                    <a href="#delayed-method-invocation">Отложенный вызов метода</a>
                </li>
                <li>
                    <a href="#recurring-tasks">Задачи по расписанию</a>
                </li>
                <li>
                    <a href="#integrated-web-interface">Интегрированный веб-интерфейс</a>
                </li>
                <li>
                    <a href="#sql-redis-support">Поддержка SQL Server и Redis</a>
                </li>
                <li>
                    <a href="#automatic-retries">Автоматический повтор задач</a>
                </li>
                <li>
                    <a href="#guaranteed-processing">Гарантированная обработка</a>
                </li>
                <li>
                    <a href="#instance-method-calls">Вызов экземплярных методов</a>
                </li>
                <li>
                    <a href="#culture-capturing">Захват CurrentCulture</a>
                </li>
            </ul>

            <strong>Расширенные</strong>
            <ul class="nav nav-sidebar">
                <li>
                    <a href="#cancellation-tokens">Cancellation token'ы</a>
                </li>
                <li>
                    <a href="#ioc-containers">Поддержка IoC-контейнеров</a>
                </li>
                <li>
                    <a href="#logging">Логирование</a>
                </li>
                <li>
                    <a href="#web-garden-web-farm-support">Поддержка Web Garden и Web Farm</a>
                </li>
                <li>
                    <a href="#multiple-queue-processing">Обработка нескольких очередей</a>
                </li>
                <li>
                    <a href="#concurrency-level-control">Управление степенью параллелизма</a>
                </li>
                <li>
                    <a href="#process-jobs-anywhere">Обработка задач в любом приложении</a>
                </li>
                <li>
                    <a href="#extensibility">Расширяемость</a>
                </li>
            </ul>
            </div>
        </div>
        <div class="col-md-8">
            <h2 class="first-header page-header">Базовые</h2>
            {% include features/basic-ru.html %}

            <h2 class="page-header">Расширенные</h2>
            {% include features/advanced-ru.html %}
        </div>
    </div>
</div>