---
layout: default-ru
title: Hangfire Pro – обработка фоновых задач для ASP.NET
display_brand: true
---

<div class="jumbotron jumbotron-small">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>
                    Hangfire Pro
                </h1>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-8">
            {% include pro/features-ru.html %}
            {% include pro/faq-ru.html %}
        </div>
        <div class="col-md-4">
            {% include pro/buy-ru.html %}
        </div>
    </div>
</div>